
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PayPal IPN APP</title>
</head>
<body>
  <div>
    <h1>FOD SPEAKERS</h1>
    <img src="https://thumbs.static-thomann.de/thumb/orig/pics/bdb/410395/11966127_800.webp" alt="Bluetooth Speaker"> 
     <h2>Buy for $25</h2>
  </div>
  <br>
  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIIYwYJKoZIhvcNAQcEoIIIVDCCCFACAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGAiSy3l8Ty7hP/bs3lNvNMDIrcNsM8OTyu5fRwxTVPfO/25Xlvs/nYihY/en6RN4XC5UD29tkhanJzokQl2mJPXR5wmq7KPVn0WwFTHfRkTiQzWAfRsuzkZ/rujHK642rCWhveB+CCcDw3htX7UYLyuDE2VqQ3yKdGP8/Cxha3VmQxCzAJBgUrDgMCGgUAMIIBrQYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhcwpQc6L4c6ICCAYgYxSj9NjRMj4e52v5TPgYMe+TxNtq9bVHZiqs6KYjWiLk74rPW9Yh7diqMpj/xEGzMTUBGcQvjDfHedloF4P0FZvsL3wGqTAQe/r0ePpUTxU/igvmy7flZLDdnmFzro4FmQsSDJCiHMklw0rMQFeFCMHj9wOGnkGlR3nSYbprsw1j6Mc4FKYLBbLB+LkrRWfSaNrhzwJso7HezP+d4atjm/x7/VlNBo7KQYym2fVf7YJiocJig0h57tpDZD0ej3MEuoP7TYXVnvwE7Ogsl8xzAMKw1+jInAgCKuqqO6/iQ251i9ykqD+Xe4fzC+rz8OipcXIRbykkSvs1cNWW/QLOqwgbg6Us7HCq2tfZSaSkiuM6GEK/GATuD97/89TXqV5NgZYOO0Ph65YPqQdcqu5XiZUPzce/BE7W209iwo5pA+AosdjmtbfJdTZbpY27S7tMBXQnmYyWnP9QjY8vaC4gQCfFCqxZ+ph6RQdujGQSmYVrfewHnisPpvxYQtBtcgfzU4iqLIaSzSKCCA6UwggOhMIIDCqADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwNDE5MDcwMjU0WhcNMzUwNDE5MDcwMjU0WjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC3luO//Q3So3dOIEv7X4v8SOk7WN6o9okLV8OL5wLq3q1NtDnk53imhPzGNLM0flLjyId1mHQLsSp8TUw8JzZygmoJKkOrGY6s771BeyMdYCfHqxvp+gcemw+btaBDJSYOw3BNZPc4ZHf3wRGYHPNygvmjB/fMFKlE/Q2VNaic8wIDAQABo4H4MIH1MB0GA1UdDgQWBBSDLiLZqyqILWunkyzzUPHyd9Wp0jCBxQYDVR0jBIG9MIG6gBSDLiLZqyqILWunkyzzUPHyd9Wp0qGBnqSBmzCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAVzbzwNgZf4Zfb5Y/93B1fB+Jx/6uUb7RX0YE8llgpklDTr1b9lGRS5YVD46l3bKE+md4Z7ObDdpTbbYIat0qE6sElFFymg7cWMceZdaSqBtCoNZ0btL7+XyfVB8M+n6OlQs6tycYRRjjUiaNklPKVslDVvk8EGMaI/Q+krjxx0UxggGkMIIBoAIBATCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0yMTA2MTUyMjQzNTBaMCMGCSqGSIb3DQEJBDEWBBQsgmJB0I+PvdETFKPGVzewIkWqzTANBgkqhkiG9w0BAQEFAASBgA1BviEofiqO1lQ7+aj0orhb+8WACIvGZKTk3Ex7G2fgP2hwBf1afgVyjYhKUWm/QNg9kYHE8/O1LD93OLAvNJeAPYLbbsop5k3emzlm0mo7mZ62WL5I6RwJg2e9BhKnKeonlKfNXpr1+iAoNFE6NX4H3NJ8JFhIArehy+8HWa9W-----END PKCS7-----">
    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    
  <br>
</body>
</html>
