<!DOCTYPE html>

<head>
    <!---Bootstrap css -->
    <link type="text/css" href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You For Shopping With Us!</h1>
        <p class="lead"><strong>Please check your email</strong> for further details about your order.</p>
        <hr>
        <p>
          Having trouble? <a href="https://guarded-falls-79415.herokuapp.com">Contact us</a>
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="https://guarded-falls-79415.herokuapp.com/" role="button">Continue to homepage</a>
        </p>
      </div>
</body>
